* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-panel {
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

body {
    background-image: url('OIP.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.home-link {
    color: #fff;
    text-decoration: none;
}

.login {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.login h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.email {
    margin-bottom: 20px;
}

.email input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
